.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin-top: 30px;
}

.form .form__custom-button {
  margin-top: 50px;
}

.card {
  margin-top: 3em;
  width: 40vw;
  background:linear-gradient(to right bottom, #917231, #B5AE5B, #8B6D24);
}
