.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
}

.form {
  min-width: 35em;
  margin: 5em 10em 0 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to right bottom, #917231, #B5AE5B, #8B6D24);
  padding: 20px;
}
.mb-3{
  width: 75%;
}

.form .form__custom-button {
  margin-top: 50px;
  width: 10em;
}
.errorContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to right bottom, #917231, #B5AE5B, #8B6D24);;
  width: 25%;
  padding: 0;
}
.error-text{
  color: white;
}